In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('dataframe_operations').getOrCreate()

24/03/03 23:05:42 WARN Utils: Your hostname, Ds-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.89 instead (on interface en0)
24/03/03 23:05:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/03 23:05:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/03/03 23:05:58 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

## Row Class in Spark

In [6]:
from pyspark.sql import Row

row1 = Row(name = 'sai', salary = 2000)
print(row1[0], row1[1]) # Rows can be used as tuples 

row2 = Row(name = 'pawan', salary = 4000)
print(row2.name, row2.salary) # Rows can be used as dictonary

data = [row1, row2]

df = spark.createDataFrame(data)
df.show()

sai 2000
pawan 4000
+-----+------+
| name|salary|
+-----+------+
|  sai|  2000|
|pawan|  4000|
+-----+------+

In [7]:
# Rows can be created like class

Person = Row('name', 'salary')
row1 = Person('sai', 2000)
row2  = Person('pawan', 4000)

data = [row1, row2]
df = spark.createDataFrame(data)
df.show()

+-----+------+
| name|salary|
+-----+------+
|  sai|  2000|
|pawan|  4000|
+-----+------+

In [9]:
data = [
    Row(name = Row(FirstName = 'sai', LastName = 'pawan'), salary = 2000 ),
    Row(name = Row(FirstName = 'pawan', LastName = 'sai'), salary = 3000)
]

df = spark.createDataFrame(data)
df.show()
df.printSchema()

+------------+------+
|        name|salary|
+------------+------+
|{sai, pawan}|  2000|
|{pawan, sai}|  3000|
+------------+------+

root
 |-- name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- salary: long (nullable = true)

## Column Class in Spark

In [10]:
from pyspark.sql import Column

In [13]:
from pyspark.sql.functions import lit

data = [['sai', 2000], ['pawan', 4000]]
schema = ['Name', 'Salary']

df = spark.createDataFrame(data, schema)
df.show()

# Populating the complete column with one value
df = df.withColumn('Leaves', lit(0))
df.show()

+-----+------+
| Name|Salary|
+-----+------+
|  sai|  2000|
|pawan|  4000|
+-----+------+

+-----+------+------+
| Name|Salary|Leaves|
+-----+------+------+
|  sai|  2000|     0|
|pawan|  4000|     0|
+-----+------+------+

In [14]:
# Different ways to access a column
from pyspark.sql.functions import col

df.select(df.Name).show()
df.select(df['Name']).show()
df.select(col('Name')).show()

+-----+
| Name|
+-----+
|  sai|
|pawan|
+-----+

+-----+
| Name|
+-----+
|  sai|
|pawan|
+-----+

+-----+
| Name|
+-----+
|  sai|
|pawan|
+-----+