In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Join_operations').getOrCreate()

24/03/07 19:11:23 WARN Utils: Your hostname, Ds-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.89 instead (on interface en0)
24/03/07 19:11:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/07 19:11:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/03/07 19:11:39 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [15]:
data1  = [
    [1, 'sai', 2000, 2],
    [3, 'saipawan', 4000, 1],
    [4, 'pawand', 5000, 4]
]
schema1 = ['_id', 'name', 'salary', 'department']

df1 = spark.createDataFrame(data1, schema1)

data2 = [
    ['1', 'IT'],
    ['2', 'HR'],
    ['3', 'Admin']
]
schema2 = ['id', 'name']

df2 = spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+---+--------+------+----------+
|_id|    name|salary|department|
+---+--------+------+----------+
|  1|     sai|  2000|         2|
|  3|saipawan|  4000|         1|
|  4|  pawand|  5000|         4|
+---+--------+------+----------+

+---+-----+
| id| name|
+---+-----+
|  1|   IT|
|  2|   HR|
|  3|Admin|
+---+-----+

In [16]:
# Inner join
df1.join(df2, df1.department == df2.id).show()
# df1.join(df2, df1.department == df2.id, 'inner').drop(df1.department).drop(df2.id).show()

+---+--------+------+----------+---+----+
|_id|    name|salary|department| id|name|
+---+--------+------+----------+---+----+
|  3|saipawan|  4000|         1|  1|  IT|
|  1|     sai|  2000|         2|  2|  HR|
+---+--------+------+----------+---+----+

In [17]:
# Left join
df1.join(df2, df1.department == df2.id, 'left').show()

+---+--------+------+----------+----+----+
|_id|    name|salary|department|  id|name|
+---+--------+------+----------+----+----+
|  1|     sai|  2000|         2|   2|  HR|
|  3|saipawan|  4000|         1|   1|  IT|
|  4|  pawand|  5000|         4|NULL|NULL|
+---+--------+------+----------+----+----+

In [19]:
df1.join(df2, df1.department == df2.id, 'right').show()

+----+--------+------+----------+---+-----+
| _id|    name|salary|department| id| name|
+----+--------+------+----------+---+-----+
|   3|saipawan|  4000|         1|  1|   IT|
|   1|     sai|  2000|         2|  2|   HR|
|NULL|    NULL|  NULL|      NULL|  3|Admin|
+----+--------+------+----------+---+-----+

In [18]:
# Outer join or Full Join
df1.join(df2, df1.department == df2.id, 'outer').show()

+----+--------+------+----------+----+-----+
| _id|    name|salary|department|  id| name|
+----+--------+------+----------+----+-----+
|   3|saipawan|  4000|         1|   1|   IT|
|   1|     sai|  2000|         2|   2|   HR|
|NULL|    NULL|  NULL|      NULL|   3|Admin|
|   4|  pawand|  5000|         4|NULL| NULL|
+----+--------+------+----------+----+-----+